/*body { padding-top: 65px; }*/
*{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: darkgray;


}
.navbar-default .navbar-brand  {
	color: blue;
}

.navbar-default .navbar-nav > li > a{
    color: red;
}
